.star-wars-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.star-wars-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.star-wars-card {
  position: relative;
  width: 350px;
  height: 300px;
  background-color: #282c34;
  color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header h2 {
  margin: 0;
}

.expand-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: yellow;
  color: black;
  font-size: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  cursor: pointer;
  z-index: 2;
  border-radius: 50px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #282c34;
  border-radius: 10px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  outline: none;
  z-index: 9999; /* Ajuste a ordem de camadas do modal */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9998; /* Ajuste a ordem de camadas do overlay */
}

.modal-content {
  text-align: center;
  color: #fff;
}

.close-button {
  background-color: yellow;
  color: black;
  border: none;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border-radius: 50px;
}

.star-wars-modal .expand-button {
  display: none;
}
