body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.App-header {
  justify-content: center;
  background-color: #282c34;
  padding: 35px;
  text-align: center;
}

.App-header h1 {
  margin: 0 auto;
}
